@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3hhgcz');
  src:  url('fonts/icomoon.eot?3hhgcz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3hhgcz') format('truetype'),
    url('fonts/icomoon.woff?3hhgcz') format('woff'),
    url('fonts/icomoon.svg?3hhgcz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross1:before {
  content: "\e900";
}
.icon-checkmark1:before {
  content: "\e901";
}
.icon-plus1:before {
  content: "\e902";
}
.icon-minus1:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e905";
}
.icon-arrow-up-thick:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-delete-outline:before {
  content: "\e908";
}
.icon-backspace:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-refresh1:before {
  content: "\e90b";
}
.icon-key:before {
  content: "\e90c";
}
.icon-input-checked:before {
  content: "\e90d";
}
.icon-arrow-sync:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-tick-outline:before {
  content: "\e910";
}
.icon-thumbs-up:before {
  content: "\e911";
}
.icon-thumbs-down:before {
  content: "\e912";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
